.body {
  background-color:pink;
  color:navy;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size:200%;
}
.head {
  text-align:center;
}
.image {
  position:absolute;
  top:200px;
  left:450px;
}